@page "/projects/{id}"
@model BugTrackerApi.Pages.ProjectModel
@section ActionButtons
{
    <a class="button is-primary" href="/projects/@Model.Project?.Id/edit">Edit project</a>

}

<div class="container">
    <h1 class="title mt-3">@Model.Project?.Name</h1>

    <p class="subtitle">@Model.Project?.Description</p>
    <div class="is-flex is-justify-content-space-between mb-4">
        <h4 class="is-size-4 mt-4">Bugs</h4>
        <a class="button is-primary" href="/AddBug?projectId=@Model.Project?.Id">Add bug</a>  <!--This is qury parameters-->
    </div>

    @foreach (var bug in Model.Bugs)
    {
        <div class="card p-4 mb-2 is-flex-direction-row" x-data="{ open: false }">
            <div class="is-flex is-justify-content-space-between">
                <a class="is-size-5" @@click="open = ! open">@bug.Title</a>
                <div class="is-flex">
                    <a class="button is-link is-small" href="/bugs/@bug.Id">Edit</a>
                    <form method="POST">
                        <!--pretend like delete http method-->
                        <input type="submit" class="button ml-3 is-small" asp-page-handler="Delete" value="Delete" asp-route-id="@bug.Id" />
                    </form>
                </div>

            </div>
            <div>
                <div x-show="open" @@click.outside="open = false">
                    <p><strong>Created On:</strong> @bug.CreatedOn</p>
                    <p class="mt-4"><strong>Description:</strong> </p>
                    <p class="mb-4">@bug.Description</p>
                    <p><strong>Priority:</strong> @bug.Priority</p>
                    <p><strong>Repro Steps:</strong> @bug.ReproSteps</p>
                    <table class="table is-bordered  mt-4 is-fullwidth">
                        <thead>
                            <tr>
                                <th>ExpectedResults</th>
                                <th>ActualResults</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@bug.ExpectedResults</td>
                                <td>@bug.ActualResults</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>